<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        table th{
        text-align:center;}
    </style>
</head>
<body>
<div class="container my-5">
<form action={{url_for('attendance', section=section, sub_name=sub_name)}} method="post" >
<table class="table table-hover table-bordered">
    <thead class="thead-light">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Enrollment No.</th>
        <th scope="col">Name</th>
        <th scope="col" colspan="2">Status</th>
    </tr>
    </thead>
    <tbody>
    {%for student in students: %}
    <tr>
        <th>{{loop.index}}</th>
        <td>{{student.user_id}}</td>
        <td>{{student.username}}</td>
        <td style="text-align:right;"><label>Present<input required type="radio" style="margin:auto 5px;" name={{student.user_id}} value='1'></label></td>
        <td><label><input required type="radio" style="margin:auto 5px;" name={{student.user_id}} value='0'>Absent</label>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<button type="button" onclick="history.back()" class="btn btn-outline-dark float-left">Go back</button>
<button type="submit" class="btn btn-outline-dark float-right">Submit</button>
<button type="reset" style="margin: auto 25px;" class="btn btn-outline-dark float-right">Reset</button>
</form>
</div>
</body>
</html>