<!DOCTYPE html>

<html lang="en" dir="ltr" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="UTF-8">
   <meta http-equiv="refresh" content="55" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Urbanist&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/code.css">
  <link rel="stylesheet" href="../static/css/popup.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<!--  Fontawesome-->
    <script src="https://kit.fontawesome.com/00e297be53.js" crossorigin="anonymous"></script>
    <style>
        a{
        text-decoration:none;
        }

        button{
        padding: 5px 10px;
        font-weight: bold;
        color: whitesmoke;
        border:none;
        background-color: #00000019;
        color:black;
        border-radius: 15px;}

        form button{
        background-color:transparent;}

        {{style}}

    </style>
  </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      <span style="position:relative; top:10px; left:-5px;"><a href="{{url_for('login', login='False')}}">
        <img style='height:70px;' src="../static/img/logo.png"></a></span>

      <span id="ark"><a href="{{url_for('login', login='False')}}">ark's
        <text style="font-family: 'Urbanist', sans-serif; color:whitesmoke;">LMS</text></a></span>
    </div>
      <ul class="nav-links">
        <li>
          <a href="#">
            <i class='bx bxs-home' ></i>
            <span class="links_name">Home</span>
          </a>
        </li>
        <li>
          <a href={{url_for('edit_profile',current_sec=section)}}>
            <i class='bx bx-user' ></i>
            <span class="links_name">Edit Profile</span>
          </a>
        </li>
        <li>
          <a href="{{ url_for('about_us')}}">
            <i class='bx bx-info-circle'></i>
            <span class="links_name">About Us</span>
          </a>
        </li>
        <li class="log_out">
          <a href="{{ url_for('logout')}}">
            <i class='bx bx-log-out'></i>
            <span class="links_name">Log out</span>
          </a>
        </li>
      </ul>
  </div>

  <section class="home-section">

    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">Dashboard</span>
      </div>
      <div class="search-box">
        {% if teacher_data == None or teacher_data == '' or teacher_data == {}  :%}
        {% else: %}
        <a href={{url_for('attendance', section=section, sub_name=teacher_data)}}><h3  style="padding: 2px 5px; color: #ff7171; border-bottom: 2px solid black;">Attendance</h3></a>
        {% endif %}
          <!--        <i class='bx bx-search' ></i>-->
      </div>
      <div class="profile-details">
        <!--<img src="images/profile.jpg" alt="">-->
        <span class="admin_name"><a href={{url_for('edit_profile', current_sec=section)}}>{{user.username}}</a></span>
        </div>
    </nav>

    <div class="home-content">
      <div class="overview-boxes">
        <div class="box" style="background-color:#66B0FF99;">
          <div class="right-side" >
            <div class="box-topic" >Reference Notes</div>
            <div class="number">{{notes_count}}</div>
            <div class="indicator" >
<!--              <i class='bx bx-up-arrow-alt'></i>-->
                <span><button onclick="notesPopup()">Upload Notes/Link</button></span>
            </div>
          </div>
          <i class='bx bxs-note cart'></i>
        </div>
        <div class="box" style="background-color: #2BD47D99">
          <div class="right-side">
            <div class="box-topic">Section</div>
            <div class="number">{{user.t_class}} - {{section}}
            </div>
            <div class="indicator">
              {% if change: %}
              <button type="submit"><a href={{url_for('teacher_select', user_id=current_user.user_id )}}>Change Section</a></button>
              {% endif %}
            </div>
          </div>
              <i class='bx bxl-slack cart two'></i>
        </div>
              {% if  teacher_data == None or  teacher_data == '' or  teacher_data == {}  :%}
            {% else: %}
          <div class="box" style="background-color: #FFC23399">
          <div class="right-side">
            <div class="box-topic">Assignment</div>
            <div class="number">{{assign_count}}</div>
            <div class="indicator">
                <i class='bx bx-plus'></i>
                <span><button onclick="assignmentPopup()">Add Assignment</button></span>
            </div>
          </div>
          <i class='bx bxs-book cart three' ></i>
        </div>
          {% endif %}
        <div class="box" style="background-color: #E0567799">
          <div class="right-side">
            <div class="box-topic">{{user.t_class}} - {{section}}</div>
        {% if teacher_data == None or teacher_data == '' or teacher_data == {}  :%}
              <div class="box-side">Select<br> a<br>Subject</div>
        {% else: %}
              <div class="number">{{teacher_data}}</div>
             <div class="indicator">
                 {% if mlink==None or mlink==[] %}
                 <span ><button onclick="togglePopup()">Create Meeting Link</button></span>
                 {% elif link_created or mlink!=[] %}
                 <span><a href={{mlink.meeting_link}}>Go to class.</a> or <a href={{url_for('delete', user_id=current_user.user_id, section=section, table="link", id=mlink.id)}}><i class="fas fa-trash" style="color:black;"></i></a></span>
                 {% endif %}
            </div>
        {% endif %}
          </div>
            <i class='bx bx-link cart four'></i>
        </div>
      </div>

      <div class="stu-boxes" style="margin:30px auto;">
        <div class="recent-stu box" style="width:100%;">
          <form action={{url_for('teacher', user_id=current_user.user_id, section=section)}} method="post">
            <div class="title">Subjects:</div>
            {% for subject in subjects %}
          <button type="submit" id="{{('').join((subject.subject.sub_name).split())}}" style="border:2px solid #00000099;  color:#FF5151; padding:2px 20px; margin: 10px 5px 2px 5px;" name='button' class="title color" value="{{subject.subject.sub_name}}">{{subject.subject.sub_name}}</button>
            {% endfor %}
            </form>
        </div>
      </div>

         <div class="stu-boxes" style="margin:30px auto;">
        <div class="recent-stu box" style="width:100%;">
          <div class="title">UPDATE:</div>
            <span><button onclick="updatePopup()" style="margin:10px auto;"> Add an Update.</button></span>
            {% for update in updates %}
          <div class="stu-details">{{loop.index}}. {{update.update.capitalize()}}<a href={{url_for('delete', user_id=current_user.user_id, section=section, table="update", id=update.id)}}><i class="fas fa-trash" style="color:black;"></i></a></div>
            {% endfor %}
        </div>
      </div>
      <div class="stu-boxes" style="align-items:baseline;">
        <div class="recent-stu box" style="width:75%;">
          <div class="title">Assignment Status</div>
              {% if teacher_data == None or teacher_data == '' or teacher_data == {}  :%}
            <h3>Subject not selected.</h3>
                {% else: %}
            <form action="{{url_for('teacher', other_button=True, user_id=current_user.user_id, section=section)}}" method=post>
                <select class="sel" name="assign_id" id="assign_id" required>
                <option value="" disabled selected hidden>Select Assign No.</option>
              {% for assign in given_assignments:%}
                <option class="opt" value={{assign.id}}>{{loop.index}}</option>
                  {% endfor %}
              </select>
            <button type="submit">Show </button>
                <br>
                {% if current_assignment != False:%}
                <br>
                <span>
                    <b>Given Task</b> (<em>Assignment <b><u>ID</u></b>:</em> {{current_assignment.id}}) -
                    <span>
                        <a style="text-decoration: underline;" href={{url_for('delete', table="assignments", section=section, id=current_assignment.id)}}><i class="fas fa-trash" style="color:black;"> </i> Delete Assignment</a>
                    </span>
                </span>
                <p><em>{{current_assignment.assign_name.capitalize()}}</em> </p>

                {% else:%}
                <span>Assignmet Number not selected!</span>
                {% endif %}
        </form>
                {% endif %}
          <div class="stu-details">
        {% if assignments != [] %}
             <table style="text-align:center; cellspacing:10px;">
              <tr>
                  <th class="topic">Assign. No.</th>
                  <th class="topic">Date</th>
                  <th class="topic">Enroll No.</th>
                  <th class="topic">Name</th>
                  <th class="topic">Status</th>
                </tr>
              {% for assign in assignments:%}
            <tr class="details">
                <td><a href="#" id={{assign.assignments.id}}>{{assign.assignments.id}}</a></td>
                <td>{{assign.submission_date}}</td>
                <td>{{assign.student.user_id}}</td>
                <td>{{assign.student.username}}</td>
                <td><a href={{url_for('preview', assign_id=assign.id, student_id=assign.student.id)}}>Submitted</a></td>
          </tr>

            {% endfor%}
          </table>
            {% else:%}
              <h4>No submissions yet!.</h4>
            {% endif %}
          </div>
          <div class="button">
            <a href="#">See All</a>
          </div>
        </div>
        <div class="top-stu box" style="width:35%;">
          <div class="title" style="text-align:center;">Analysis</div>
        <canvas id="myChart" style="width:100%;max-width:600px; height:200px;"></canvas>
        <script>
        var xValues = ["Submitted", "Not Submitted"];
        var yValues = [{{submitted}}, {{not_sub}}];
        {% if current_assignment == False:%}
        var yValues = [0, 0];
        {% endif %}

        var barColors = [
          "#00aba9","#b91d47"
        ];

        new Chart("myChart", {
          type: "doughnut",
          data: {
            labels: xValues,
            datasets: [{
              backgroundColor: barColors,
              data: yValues
            }]
          },
          options: {
            title: {
              display: false,
            }
          }
        });
        </script>
        </div>
      </div>
    </div>
  </section>

  <script>
   let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
  sidebar.classList.toggle("active");
  if(sidebar.classList.contains("active")){
  sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
}else
  sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}
 </script>


<div class="popup" id="popup-1">
    <div class="overlay" ></div>
    <div class="myoverlay" id="panel-meeting">
    <div class="content" style="border-left: 10px solid #E05677;">
        <div class="close-btn" onclick="togglePopup()">&times;</div>
<h4>Add Meeting Link</h4>
<form action={{url_for('teacher', user_id=current_user.user_id, section=section, link=True, meeting_link=True)}} method="post">
    <table>
      <tr>
          <td><label for="mlink">Meeting Link :</label></td>
          <td><input type="text" name="mlink" id="mlink" ></td>
      </tr>
      <tr>
          <td><label for="stime">Starts at :</label></td>
          <td><input type="time" id="stime" name="stime" ></td>
      </tr>
      <tr>
          <td><label for="etime">Ends at :</label></td>
          <td><input type="time" id="etime" name="etime" ></td>
      </tr>
      <!-- <input type="submit" value="Submit"> -->
        <tr style="text-align: end;"><td colspan="2"><button type="submit" name='button' class="title" value={{request.form['button']}}>Create</button></td></tr>
    </table>
</form>
</div>
</div>
</div>

<div class="popup" id="popup-update">
    <div class="overlay" ></div>
        <div class="myoverlay" id="panel-update">
    <div class="content" style="border-left: 10px solid #FF7171">
        <div class="close-btn" onclick="updatePopup()">&times;</div>
<h4>Add Update</h4>
<form  action={{url_for('teacher', other_button=True, user_id=current_user.user_id, section=section, link=True, update=True)}} method="post">
  <table>
      <tr>
      <td><label for="update">New Update :</label></td>
      <td><input type="text" name="update" id="update"></td>
          </tr>
      <tr style="text-align: end;">
      <td colspan="2"><button type="submit"  name='button' class="title">Done</button></td>
      </tr>
  </table>
</form>
</div>
</div>
</div>

<div class="popup" id="popup-notes">
    <div class="overlay"></div>
    <div class="myoverlay" id="panel-notes">
    <div class="content" style="border-left: 10px solid #66B0FF">
        <div class="close-btn" onclick="notesPopup()">&times;</div>
<h4>Add Reference Notes</h4>
<form action={{url_for('teacher', other_button=True, user_id=current_user.user_id, section=section, link=True, reference_notes=True)}} method="post">
  <table>
      <tr>
      <td><label for="notes_link">Link :</label></td>
      <td><input type="text" name="notes_link" id="notes_link" ></td>
      </tr>
      <tr style="text-align: end;">
      <td colspan="2"><button type="submit" name='button' class="title" value={{request.form['button']}}>Done</button></td>
      </tr>
  </table>
</form>
</div>
</div>
</div>

<div class="popup" id="popup-assignment">
    <div class="overlay" ></div>
    <div class="myoverlay" id="panel-assign">
    <div class="content" style="border-left: 10px solid #FFC233">
        <div class="close-btn" onclick="assignmentPopup()">&times;</div>
<h4>Add Assignment</h4>
<form action={{url_for('teacher', other_button=True, user_id=current_user.user_id, section=section, link=True, assignment=True)}} method="post">
  <table>
  <tr>
      <td><label for="assign_name">Assigment Content :</label></td>
      <td><input type="text" name="assign_name" id="assign_name" ></td>
  </tr>
  <tr>
      <td><label for="deadline">Submission Date :</label></td>
      <td><input type="date" id="deadline" name="deadline" ></td>
  </tr>
  <tr style="text-align: end;">
  <td colspan="2"><button type="submit" name='button' class="title" value={{request.form['button']}}>Done</button></td>
  </tr>
  </table>
</form>
</div>
</div>
</div>

<script>
    function togglePopup(){
    var myClock = document.getElementById('panel-meeting');
    var displaySetting = myClock.style.display;
    if (displaySetting == 'block') {
      myClock.style.display = 'none';
    }
    else {
      myClock.style.display = 'block';}


        document.getElementById("popup-1").classList.toggle("active");
    }

    function updatePopup(){
    var myClock = document.getElementById('panel-update');
    var displaySetting = myClock.style.display;
    if (displaySetting == 'block') {
      myClock.style.display = 'none';
    }
    else {
      myClock.style.display = 'block';}

        document.getElementById("popup-update").classList.toggle("active");
    }

    function notesPopup(){
    var myClock = document.getElementById('panel-notes');
    var displaySetting = myClock.style.display;
    if (displaySetting == 'block') {
      myClock.style.display = 'none';
    }
    else {
      myClock.style.display = 'block';}
    document.getElementById("popup-notes").classList.toggle("active");
    }

    function assignmentPopup(){
        var myClock = document.getElementById('panel-assign');
    var displaySetting = myClock.style.display;
    if (displaySetting == 'block') {
      myClock.style.display = 'none';
    }
    else {
      myClock.style.display = 'block';}

        document.getElementById("popup-assignment").classList.toggle("active");
    }

</script>

</body>
</html>

